@import url("resetCSS.css");
@import url('https://fonts.googleapis.com/css2?family=Mallanna&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Condensed&display=swap');


body, html {
    height: 100%;
    width: 100%;
}

.mallanna-regular {
    font-family: "Mallanna", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    /* font-family: "Ubuntu Condensed","Puritan-bold", sans-serif; */
}

/* ----------Left Side & Navigation Bar -------- */
#menu-btn {
    background-color: #37393b;
    border: none;
    position: fixed;
    cursor: pointer;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url(menu-icon.svg);
}

#product-name {
    position: fixed;
    top: 10px;
    /* left: 100px; */
    font-size: 30px;
    transition: left 0.8s ease;
}

.inplace {
    left: 100px;
}

#product-name::first-letter {
    font-size: 40px;
}

    
.navigation {
    /* display: flex; */
    /* justify-content: flex-start; */
    background-color: #37393b;
    height: 100vh;
    position: fixed;
    transition: left 1s cubic-bezier(1,0,.32,.97), width 0.8s ease;
    left: 0;
}

.header-height {
    height: 80px;
}

.visible {
    max-width: 260px;
    width: 260px;
}

.invisible {
    width: 80px;
    /* width: 260px; */
}

#menu-btn:hover {
    background-color: #2a2a2a;
    transition: background-color 0.5s ease;
}

.nav-content {
    /* background-color: chocolate; */
    height: 100%;
    overflow: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.end-btn {
    display: flex;
    flex-flow: column nowrap;
    /* margin: 10px; */
    margin-bottom: 100px;
    /* background-color: yellow; */
    position: sticky;
    z-index: 2;
    height: fit-content;
    overflow: visible;
}

.new-chat, .end-btn > div {
    width: 240px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.new-chat-p {
    /* background-color: rgb(255, 51, 0); */
    display: block;
    text-align: left;
    margin: 10px;
    width: 160px;
    /* height: 50px; */
}

.newchat-btn {
    background-color: #37393b;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url(plus-sign.svg);
    background-size: cover;
}

div.help , div.activity, div.param {
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-start;
}

.help-p, .activity-p, .param-p {
    margin: 10px;
}

.help-btn {
    background-color: #37393b;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url(help-logo.svg);
    background-size: cover;
}
.activity-btn {
    background-color: #37393b;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url(clock-activity.svg);
    background-size: cover;
}
.settings-btn {
    background-color: #37393b;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url(settings-logo.svg);
    background-size: cover;
}

h3.recent-chat-tab-title {
    margin-left: 20px;
    position: relative;
    left: 3px;
    /* background-color: aqua; */
}

.recent-chats {
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0 0 20px;
    list-style: none;
    /* background-color: rgb(255, 255, 255); */
    overflow: auto;
    height: 220px; 
    width: 80%;
}
.recent-chats > li {
    display: inline-flex;
    align-items: center;
    /* background-color: aqua; */
    width: 100%;
    margin: 10px 0px;
}

.recent-chats > li > img {
    margin: 5px;
}

.chat-title  {
    /* background-color: red; */
    display: block;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recent-chat-tab-title {
    position: relative;
    left: -10px;
    margin-top: 30px;
    width: 150px;
}

/* --------------- Chat Part ----------- */
.right-side {
    background-color: #2a2a2a;
    flex-grow: 1;
}

.app-header {
    background-color: #2a2a2a;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-width: 270px;
    height: 80px;
}

#user {
    display: inline;
    float: right;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.main-chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-zone {
    height: 80vh;
}

.chat-zone {
    margin: 0 20px;
    list-style-type: none;
    overflow: auto;
    color: white;
}

.profile-picture {
    float: left;
    margin: 10px 10px 0px 0px;
}

.text-zone {
    /* background-color: aqua; */
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-zone {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

#input-text-field {
    background-color: #424447;
    color: black;
    border: none;
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
    width: 600px;
    max-width: 80vw;
    min-height: 120px;
    max-height: 120px;
    margin: 10px 10px 0 20px;
    resize: none;
    outline: none;
    padding-left: 20px;
    padding-top: 10px;
    overflow-y: scroll;
}



input[type ="button"] {
    background-color: #37393b;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.menu-btn:hover {
    cursor: pointer;
    background-color: #2a2a2a;
}

.menu-btn:active {
    background-color: #0a0a0a;
}

.nav-anim {
    transition: opacity 5s ease, display 5s ease;
}

.nav-invisible {
    opacity: 0;
    display: none;
}

*::-webkit-scrollbar {
    background-color: #222222; /* Adjust color as needed */
    width: 15px;
  }
  
  *::-moz-scrollbar {
    background-color: #222222; /* Adjust color as needed */
  }
  
  *::-scrollbar {
    background-color: #222222; /* Adjust color as needed */
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #37393b; /* Adjust color as needed */
    border-radius: 70px;
    /* background-clip: content-box; */
  }
  
  *::-moz-scrollbar-thumb {
    background-color: #37393b; /* Adjust color as needed */
  }
  
  *::-scrollbar-thumb {
    background-color: #37393b; /* Adjust color as needed */
  }

@media (min-width: 960px) {

    .main-chat {
        background-color: #2a2a2a;
        height: calc(100vh - 80px);
        width: 700px;
        margin: 0 auto;
    }

    .shifting {
        left: 280px;
    }


}

@media (max-width: 960px) {

    .main-chat {
        /* background-color: rgb(162, 179, 4); */
        height: calc(100vh - 80px);
        width: 95vw;
        margin: 0 auto;
    }

    .invisible {
        max-width: none;
        width: 0vw;
    }

    .visible {
        max-width: none;
        width: 90vw;
    }

    #input-text-field {
        min-width: 50vw;
    }

    input[type ="button"] {
        margin: 0;
        min-width: 50px;
        min-height: 20px;
    }

    #product-name {
        left: 100px;
    }
}