@import url("resetCSS.css");
@import url('https://fonts.googleapis.com/css2?family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Puritan:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mallanna&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Condensed&display=swap');


body, html {
    height: 100%;
    width: 100%;
}

.mallanna-regular {
    font-family: "Mallanna", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    /* font-family: "Ubuntu Condensed","Puritan-bold", sans-serif; */
}

#menu-btn {
    background-color: #37393b;
    border: none;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

#product-name {
    position: fixed;
    top: 15px;
    left: 80px;
    /* margin-top: 10px; */
    font-size: 30px;
}

#product-name::first-letter {
    font-size: 40px;
}

    
.visible {
    width: 70vw;
    left: -45px;
    transition: left 0.03s cubic-bezier(.5,.01,.53,.97), width 1s ease;
}

.invisible {
    width: 5vw;
    left: -200px;
    transition: left 0.01s cubic-bezier(1,0,.32,.97), width 1s ease;
}


.navigation {
    background-color: #37393b;
    height: 100vh;
    position: fixed;
}


#menu-btn:hover {
    background-color: #2a2a2a;
    border-radius: 50%;
    transition: background-color 0.5s ease;
}



.right-side {
    background-color: antiquewhite;
    flex-grow: 1;
}

.app-header {
    background-color: #2a2a2a;
    height: 80px;
}

@media (min-width: 730px) {

    
    .main-chat {
        background-color: rgb(179, 100, 4);
        height: calc(100vh - 80px);
        width: 700px;
        margin: 0 auto;
    }


}

@media (max-width: 730px) {

    .main-chat {
        background-color: rgb(162, 179, 4);
        height: calc(100vh - 80px);
        width: 100vw;
        margin: 0 auto;
    }

    .visible {
        width: 90vw;
    }
}