@import url(resetCSS.css);

main {
    height: 100dvh;
    width: 100dvw;
    background-color: aqua;
    background-image: url(https://plus.unsplash.com/premium_photo-1681487683141-e72c5ccd94e6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
}

.landing-page {
    display: grid;
    grid-template-columns: 65vw 35vw;
    grid-template-rows: 100vh;
}

.decoration {
    background-color: red;
    opacity: 0.3;
}

.log-form {
    background-color: green;
    opacity: 0.3;
}

@media (min-width = 480) {
    .log-form {
        min-width: 480px;
    }
}

