* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.announce {
    background-color: rgb(138, 170, 135);
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    /* padding: 50px; */
}

nav {
    /* border: 1px solid black; */
    width: auto;
    height: 110px;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 400px;
    height: 80px;
    background-color: black;
    position: relative;
    left: -100px;
}

.menu {
    width: 600px;
    height: 80px;
    background-color: crimson;
    position: relative;
    left: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.men {
    width: 100px;
    height: 70px;
    background-color: aqua;
    margin-right: 50px;            
}

.women {
    width: 100px;
    height: 70px;
    background-color: aqua;    
}

.About {
    width: 100px;
    height: 70px;
    background-color: aqua;
    margin-left: 50px;
    margin-right: 50px;    
}

.Blog {
    width: 100px;   
    height: 70px;
    background-color: aqua;   
}

.utilities {
    width: 300px;
    height: 80px;
    background-color: blue;
    position: relative;
    left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connect {
    width: 120px;
    height: 70px;
    background-color: aquamarine;
}

.search {
    width: 60px;
    height: 60px;
    background-color: aquamarine;
}

.basket {
    width: 60px;
    height: 60px;
    background-color: aquamarine;
}