* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    height: fit-content;
}

a {
    color: black;
}
/* -------------------Header------------------------- */
.announce {
    background-color: rgb(138, 170, 135);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    /* padding: 50px; */
}

nav {
    /* border: 1px solid black; */
    width: auto;
    height: 110px;
    /* background-color: grey; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 400px;
    height: 80px;
    /* background-color: black; */
    position: relative;
    left: -32px;
}

.menu {
    width: 600px;
    height: 80px;
    /* background-color: crimson; */
    position: relative;
    left: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-txt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.men {
    width: 100px;
    height: 70px;
    /* background-color: aqua; */
    margin-right: 50px;            
}

.women {
    width: 100px;
    height: 70px;
    /* background-color: aqua;     */
}

.About {
    width: 100px;
    height: 70px;
    /* background-color: aqua; */
    margin-left: 50px;
    margin-right: 50px;    
}

.Blog {
    width: 100px;   
    height: 70px;
    /* background-color: aqua;    */
}

.utilities {
    width: 300px;
    height: 80px;
    /* background-color: blue; */
    position: relative;
    left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connect {
    width: 120px;
    height: 70px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    width: 60px;
    height: 60px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket {
    width: 60px;
    height: 60px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -------------------Vertical Container------------------------- */
.vertical-container {
    /* border: 3px solid black; */
    display: flex;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
    height: inherit;
    /* background-color: bisque; */
    flex-direction: column;
    overflow: hidden;
}
/* -------------------Display Windows------------------------- */
.display-window {
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    max-width: fit-content;
}

.display-window1 {
    margin: 0 10px;
}

.ethics {
    width: 672px;
    height: 672px;
    background-color: #7793bb;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-h1 {
    margin: 60px 0 0 50px;
}

h1 {
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    font-size: 40px;
    min-width: 0;
    /* flex-grow: 1; */
}

.ethic-bot {
    display: flex;
    justify-content: space-around;
}

.eth-h, .eth-f {
    margin-bottom: 70px;
    color: black;
}

/* -------------------Moral------------------------- */
.moral {
    margin-top: 60px;
    /* background-color: brown; */
    height: 230px;
    width: 1350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
}

.materials {
    margin-bottom: 40px;
}

.whoarewe {
    font-size: 30px;
    color: black;
}
/* -------------------Qualities------------------------- */
.qualities {
    background-color: #ede7d9;
    height: 592px;
    width: 1352px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qualify-text {
    margin-left: 70px;
}

.qualify, .describes {
    margin-bottom: 20px;
    margin-right: 70px;
    max-width: 500px;
}

.qualify-img {
    margin-right: 20px;
}


/* -------------------Industry------------------------- */
.industry {
    background-color: #f7e594;
    height: 440px;
    margin-top: 70px;
    display: flex;
    max-width: 1352px;
    align-items: center;
}

.industry img {
    margin: 20px;
}

.wrong-industry, .blog-link {
    margin: 30px 70px 30px 30px;
}

.blog-link {
    font-size: 25px;
    color: black;
}
/* -------------------Invitation------------------------- */
.invitation {
    background-color: beige;
    height: 800px;
    display: flex;
    max-width: 1352px;
}

.inv-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
}

.suggestion {
    margin-bottom: 30px;
}

.inv-text p {
    margin: 20px 0;
}
/* -------------------Reviews------------------------- */
.reviews {
    background-color: #50ab6d;
    height: 212px;
    width: 1352px;
    max-width: 1352px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.reviews * {
    margin: 10px 0 10px 30px;
}
/* -------------------Adv Policy------------------------- */
.adv-policy {
    margin-top: 70px;
    background-color: #f4e54d;
    height: 250px;
    width: 1352px;
    max-width: 1352px;
    display: flex;
    align-items: center;
}

.no-ad {
    position: relative;
    top: -20px;
    max-width: 400px;
    margin: 0 40px;
}

.right-adv {
    position: relative;
    top: -30px;
}

.right-adv * {
    margin-top: 20px;
}

.newsletter-sub {
    font-size: 25px;
}

input[type='submit'] {
    background-color: black;
    border: none;
    color: white;
    padding: 16px;
    /* font-size: 20px; */
    cursor: pointer;
    transition: background-color 0.5s ease;
}

input[type="submit"]:hover {
    background-color: green;
}

input[type="email"] {
    width: 500px;
    height: 50px;
    border: none;
    padding: 20px;
}

.newsletter-clause {
    font-size: 12px;
}

/* -------------------Other Pages------------------------- */

/* -------------------Footer------------------------- */
footer {
    /* display: flex; */
    margin: 0 auto;
    /* width: 1352px;
    max-width: 1352px; */
    /* flex-direction: column; */
    /* align-items: flex-end; */
    
}

.additional-info {
    height: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    max-width: 1352px;
    justify-content: space-evenly;
    /* background-color: #bdba74; */
}

.additional-info section {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.fa {
    padding: 20px;
    font-size: 30px;
}

.fa-facebook {
    color: white;
    background-color: black;
    font-size: 30px;
    padding: 15px 15px 1px 15px;
}

.additional-info a, .additional-info p {
    margin: 10px 0;
}
footer h4 {
    font-size: 30px;
}



.legal {
    background-color: #bdba74;
    height: 60px;
}
.legal-disp {
    display: flex;
    margin: 0 auto;
    width: 1300px;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
}
/* -------------------No ad tab------------------------- */
.no-ad-tab {
    width: 448px;
    height: 72px;
    background-color: rgb(242, 229, 96);
    position: fixed;
    right: 0;
    bottom: 0px;
}

.no-ad {
    font-size: 40px;
    position: relative;
    top: -10px;
}